<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="5">
    <link rel="icon" href="data:,">
    <title>Flask test</title>
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>